table {
    border-collapse: collapse;
    border-radius: 0.25rem;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px #666; /* this draws the table border */
}

th, td {
    border: black 1px solid;
    padding: 0.25rem 1rem;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

input {
    border: #444444 1px solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

button {
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
}

input.error {
    border: #dc3545 1px solid;
}

.message {
    border-radius: 5px;
    padding: 5px;
    margin: 2rem 0;
}

.message.error {
    background-color: #dc3545;
    color: white;
}

.message.warning {
    background-color: #d98134;
    color: white;
}

.hide {
    display: none;
}

.center {
    text-align: center;
}